* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.header-wrapper {
  background-image: url("../img/header-bg.jpg");
  height: 300px;
}

.header {
  background-color: rgba(0, 0, 0, 0.78);
  display: flex;
  padding: 35px 53px;
}
.header-svg {
  align-items: center;
  background-color: #FFEA94;
  border-radius: 50%;
  display: flex;
  height: 146px;
  width: 146px;
  justify-content: center;
  margin-right: 44px;
}
.header-svg:hover {
  background-color: #000;
}
.header-svg:hover path {
  fill: #FFEA94;
  stroke: #FFEA94;
}
.header-navigation {
  align-self: flex-end;
}
.header-navigation ul {
  display: flex;
  align-items: center;
}
.header-navigation-item {
  border-left: 1px solid #FFF;
  list-style: none;
  padding-left: 11px;
  width: 120px;
}
.header-navigation-item:hover {
  font-weight: 700;
}
.header-navigation-item:focus {
  font-weight: 700;
}
.header-navigation-item a {
  color: #FFF;
  display: block;
  font-size: 24px;
  text-decoration: none;
}
.header-search {
  margin-left: auto;
  position: relative;
}
.header-search-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}
.header-search input[type=search] {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #FFF;
  color: #FFF;
  margin-right: 63px;
  padding: 14px 16px 14px 54px;
  width: 220px;
}
.header-search input[type=search]:hover {
  border: 3px solid #FFF;
  padding: 12px 16px 14px 52px;
}
.header-search input[type=search]:focus {
  border: 3px solid #FFF;
  padding: 12px 16px 14px 52px;
}
.header-dropdown {
  color: #FFF;
  display: flex;
}
.header-dropdown-batman-wrapper {
  background: #313131;
  border-radius: 50%;
  display: flex;
  height: 57px;
  justify-content: center;
  margin-right: 13px;
  position: relative;
  width: 57px;
}
.header-dropdown-batman-wrapper-icon {
  position: absolute;
  top: 10px;
}
.header-dropdown-link {
  border: 1px solid transparent;
  border-radius: 6px;
  color: #FFF;
  text-decoration: none;
  padding: 12px 10px;
}
.header-dropdown-link:hover {
  border: 1px solid #FFF;
}
.header-dropdown-link:focus {
  border: 1px solid #FFF;
}
.header-dropdown-link-content {
  margin-right: 10px;
}

.dropdown {
  background: #313131;
  border-radius: 4px;
  border: 1px solid #FFF;
  padding-left: 0;
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 10;
  display: none;
}
.dropdown li {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: 0 10px;
}
.dropdown li:last-child {
  border-bottom: none;
}
.dropdown li:hover {
  background: #C4C4C4;
  cursor: pointer;
}
.dropdown li:focus {
  background: #C4C4C4;
  cursor: pointer;
}
.dropdown a {
  color: #FFF;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.footer {
  background: url("../img/footer-bg.jpg") center/cover no-repeat;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 78px 0 50px;
}
.footer-navigation {
  display: flex;
  margin: 0 auto;
  width: 764px;
}
.footer-navigation ul {
  line-height: 25px;
  margin-right: 80px;
}
.footer-navigation-link {
  color: #FFF;
  text-decoration: none;
}
.footer-navigation-link:hover,
.footer-navigation-link .footer-navigation-link:focus {
  text-decoration: underline;
}
.footer-title {
  color: #FFF;
  margin-bottom: 30px;
  padding-left: 30px;
}
.footer-social-icon {
  margin-right: 10px;
  opacity: 0.7;
}
.footer-social-icon:hover,
.footer-social-icon .footer-social-icon:focus {
  opacity: 1;
}
.footer-social-icon:last-child {
  margin-right: unset;
}
.footer-patterns {
  padding-left: 30px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.content section {
  background: #FFF;
  margin: 0 auto;
  padding: 78px 0 50px;
  width: 764px;
}
.content-link {
  background-color: #FCD530;
  color: #000;
}
.content-link:hover,
.content-link .content-link:focus {
  font-weight: 700;
}

.decorative-aside {
  height: 100%;
  position: relative;
  width: 100%;
  background: #FCD530;
}
.decorative-aside-image {
  position: absolute;
  left: -100px;
  top: 240px;
}

.weekly-content-table {
  border: 1px solid #C4C4C4;
}
.weekly-content-table th {
  background: #FCD530;
  border: 1px solid #C4C4C4;
  padding: 2px 5px;
  text-align: center;
  vertical-align: top;
}
.weekly-content-table td {
  border: 1px solid #C4C4C4;
  padding: 2px 5px;
  text-align: center;
  vertical-align: top;
}/*# sourceMappingURL=app.css.map */