.header-wrapper {
    background-image: url('../img/header-bg.jpg');
    height: 300px;
}

.header {
    background-color: rgba($black, .78);
    display: flex;
    padding: 35px 53px;

    &-svg {
        align-items: center;
        background-color: $color-primary;
        border-radius: 50%;
        display: flex;
        height: 146px;
        width: 146px;
        justify-content: center;
        margin-right: 44px;

        &:hover {
            background-color: $black;

            & path {
                fill: $color-primary;
                stroke: $color-primary;
            }
        }
    }

    &-navigation {
        align-self: flex-end;

        ul {
            display: flex;
            align-items: center;
        }

        &-item {
            border-left: 1px solid $white;
            list-style: none;
            padding-left: 11px;
            width: 120px;

            &:hover {
                font-weight: 700;
            }

            &:focus {
                font-weight: 700;
            }

            & a {
                color: $white;
                display: block;
                font-size: 24px;
                text-decoration: none;
            }
        }
    }

    &-search {
        margin-left: auto;
        position: relative;

        &-icon {
            position: absolute;
            top: 12px;
            left: 20px;
        }

        & input[type='search'] {
            background: transparent;
            border-radius: 50px;
            border: 1px solid $white;
            color: $white;
            margin-right: 63px;
            padding: 14px 16px 14px 54px;
            width: 220px;

            &:hover {
                border: 3px solid $white;
                padding: 12px 16px 14px 52px;
            }

            &:focus {
                border: 3px solid $white;
                padding: 12px 16px 14px 52px;
            }
        }
    }

    &-dropdown {
        color: $white;
        display: flex;
        position: relative;
        min-width: 186px;

        &-batman {
            position: absolute;

            &-wrapper {
                background: $dark;
                border-radius: 50%;
                display: flex;
                height: 57px;
                justify-content: center;
                margin-right: 13px;
                position: relative;
                width: 57px;

                &-icon {
                    position: absolute;
                    top: 10px;
                }
            }
        }

        &-link {
            border: 1px solid transparent;
            border-radius: 6px;
            color: $white;
            text-decoration: none;
            padding: 12px 10px;
            position: absolute;

            &:hover {
                border: 1px solid $white;
            }

            &:focus {
                border: 1px solid $white;
            }

            &-content {
                margin-right: 10px;
            }
        }
    }
}

.dropdown {
    background: $dark;
    border-radius: 4px;
    border: 1px solid $white;
    padding-left: 0;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 10;
    display: none;

    & li {
        background: transparent;
        border-bottom: 1px solid rgba($white, 0.6);
        list-style-type: none;
        padding: 0 10px;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: $light;
            cursor: pointer;
        }

        &:focus {
            background: $light;
            cursor: pointer;
        }
    }

    & a {
        color: $white;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
    }
}