.weekly-content-table {
    border: 1px solid $light;

    th {
        background: $color-secondary;
        border: 1px solid $light;
        padding: 2px 5px;
        text-align: center;
        vertical-align: top;
    }

    td {
        border: 1px solid $light;
        padding: 2px 5px;
        text-align: center;
        vertical-align: top;
    }
}